<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="header">
      <div class="logo">
        <h1 class="logo-content">Сайт на все руки </h1>
      </div>
      <div class="menu">
          <ul>
              <li><a href="/">Главная</a></li>
              <li><a href="/second">О нас</a></li>
          </ul>

      </div>
  </div>
  <div class="content">
    <p>Сайт на все руки - сделан очень быстро</p>
    <img class=img height="300px"  src="https://balthazar.club/o/uploads/posts/2023-10/1697083898_balthazar-club-p-more-solntse-priroda-oboi-17.jpg">
  </div>
  <div class="footer" id="footer">
    <p>Сайт на все руки TM</p>
  </div>
</body>
</html>